body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
  color: #333333;
}

.main-header {
  background-color: #2e7d32;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.logo a {
  text-decoration: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.logo a:hover {
  color: #b9e7cf;
}

.top-nav .nav-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.2s ease;
}

.top-nav .nav-link:hover {
  color: #52f3a0;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  background-color: #f8faf8;
}

.weather-search {
  min-height: 470px;

  width: 100%;

  display: grid;

  grid-template-columns: 1fr 1fr;

  background-image: url(images/weatherimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;

  position: relative;

  overflow: hidden;
}

.weather-search::before {
  content: "";

  position: absolute;

  inset: 0;

  background: rgba(186, 166, 166, 0.25);
}

.hero-left,
.hero-right {
  position: relative;

  z-index: 1;
}

.hero-left {
  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  padding: 30px;
}

.hero-heading {
  display: flex;

  align-items: center;

  gap: 15px;
}

.hero-heading img {
  width: 105px;

  height: 105px;

  object-fit: cover;
}

.hero-heading h1 {
  font-size: clamp(40px, 4vw, 70px);

  color: #000;

  font-weight: 700;
}

.hero-description {
  margin-top: 70px;

  font-size: clamp(20px, 2vw, 32px);

  font-weight: 700;

  font-style: italic;

  color: #000;
}

.hero-right {
  display: flex;

  justify-content: center;

  align-items: center;
}

.weather-form {
  width: 90%;

  max-width: 680px;

  display: flex;

  flex-direction: column;

  gap: 30px;
}

.form-group {
  display: grid;

  grid-template-columns: 280px 1fr;

  align-items: center;

  gap: 25px;
  justify-items: flex-start;
}

.form-group label {
  font-size: 28px;

  font-weight: 700;

  text-align: right;

  color: #000;
}

.form-group input {
  width: 100%;

  padding: 14px;

  font-size: 20px;

  border: 1px solid #777;

  outline: none;
}

.form-group input:focus {
  border: 2px solid #318443;
}

.submit-btn {
  align-self: center;

  padding: 12px 20px;

  font-size: 25px;

  border-radius: 12px;

  border: 1px solid #555;

  background-color: #c9f1b2;

  cursor: pointer;

  transition: 0.2s ease;
}

.weather-form button:hover {
  transform: scale(1.012);

  background-color: #c4f0af;
}

.weather-section {
  width: 90%;

  max-width: 1400px;

  margin: 40px auto;

  display: flex;

  justify-content: center;
  align-items: center;

  gap: 25px;
}

.weather-card {
  width: 90%;
  background-color: #e8f3e3;

  border-radius: 18px;

  padding: 28px 35px;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.weather-header {
  display: flex;

  justify-content: space-between;

  align-items: flex-start;
}

.weather-header h2 {
  font-size: 24px;

  color: #111;

  margin-bottom: 12px;
}

.weather-header p {
  color: #777;

  font-size: 16px;
}

.weather-content {
  display: grid;

  grid-template-columns: 1fr 1.2fr;

  gap: 40px;

  margin-top: 20px;
}

/* Temperature */

.temperature-box {
  border-right: 1px solid #ddd;

  padding: 25px 35px 20px 0;
}

.weather-icon {
  font-size: 100px;

  margin-bottom: 10px;
}

.temperature-box h1 {
  font-size: 80px;

  font-weight: 500;

  color: #050505;
}

.temperature-box h3 {
  font-size: 24px;

  margin-top: 8px;

  color: #222;
}

.temperature-box p {
  font-size: 18px;

  color: #777;

  margin-top: 15px;
}

.weather-details {
  display: flex;

  flex-direction: column;

  justify-content: center;

  gap: 24px;
}

.detail {
  display: grid;

  grid-template-columns: 40px 1fr 1fr;

  align-items: center;

  font-size: 18px;

  color: #333;
}

.detail-icon {
  font-size: 22px;
}

.detail strong {
  font-size: 18px;

  color: #222;
}

.forecast-section {
  width: 90%;
  max-width: 1400px;

  margin: 30px auto;
}

.section-header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  margin-bottom: 20px;
}

.section-header h2 {
  font-size: 25px;

  color: #222;
}

.section-header a {
  color: #287b39;

  font-size: 17px;

  font-weight: bold;

  text-decoration: none;
}

.hourly-card {
  background-color: #e8f3e3;

  border-radius: 18px;

  padding: 25px;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
}

.hourly-forecast {
  display: grid;

  grid-template-columns: repeat(8, 1fr);

  border: 1px solid #eeeeee;

  border-radius: 15px;

  overflow: hidden;
}

.hour {
  min-height: 180px;

  display: flex;

  flex-direction: column;

  justify-content: space-around;

  align-items: center;

  padding: 15px 5px;

  border-right: 1px solid #eeeeee;
}

.hour:last-child {
  border-right: none;
}

.hour h3 {
  font-size: 17px;

  color: #222;
}

.forecast-icon {
  font-size: 45px;
}

.hour strong {
  font-size: 20px;

  color: #222;
}

.weekly-card {
  margin-top: 25px;
  background-color: #e8f3e3;

  border-radius: 18px;

  padding: 25px;

  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.08);
  width: 100%;
}

.weekly-forecast {
  display: grid;

  grid-template-columns: repeat(7, 1fr);

  border: 1px solid #eeeeee;

  border-radius: 15px;

  overflow: hidden;
}

.day {
  min-height: 230px;

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: space-around;

  padding: 12px 5px;

  border-right: 1px solid #eeeeee;
}

.day:last-child {
  border-right: none;
}

.day h3 {
  font-size: 17px;
}

.day p {
  font-size: 14px;

  color: #777;
}

.day span {
  font-size: 42px;
}

.day strong {
  font-size: 19px;
}

.day small {
  font-size: 17px;

  color: #888;
}

/* footer start */
.footer {
  width: 100%;

  background-color: #005c3b;

  color: white;

  padding: 40px 6% 15px;
}

.footer-container {
  display: grid;

  grid-template-columns: 1.5fr 1fr 1fr 1.5fr;

  gap: 50px;

  max-width: 1400px;

  margin: auto;
}

.footer-brand {
  display: flex;

  flex-direction: column;
}

.brand-logo {
  display: flex;

  align-items: center;

  gap: 12px;
}

.brand-logo span {
  font-size: 42px;
}

.brand-logo h2 {
  font-size: 30px;

  margin: 0;
}

.footer-brand > p {
  margin-top: 15px;

  font-size: 16px;

  line-height: 1.6;

  color: #d5e8df;
}

.social-icons {
  display: flex;

  gap: 15px;

  margin-top: 20px;
}

.social-icons a {
  width: 42px;

  height: 42px;

  display: flex;

  align-items: center;

  justify-content: center;

  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);

  color: white;

  text-decoration: none;

  font-size: 22px;

  font-weight: bold;

  transition: 0.3s;
}

.social-icons a:hover {
  background-color: #80c99b;

  color: #003d29;
}

.footer-column {
  display: flex;

  flex-direction: column;

  gap: 10px;
}

.footer-column h3 {
  font-size: 19px;

  margin-bottom: 10px;
}

.footer-column a {
  color: #d5e8df;

  text-decoration: none;

  font-size: 16px;

  transition: 0.2s;
}

.footer-column a:hover {
  color: white;

  transform: translateX(3px);
}

.contact-column p {
  color: #d5e8df;

  font-size: 16px;

  margin: 0 0 5px;
}

.copyright {
  text-align: center;

  margin-top: 30px;

  padding-top: 15px;

  border-top: 1px solid rgba(255, 255, 255, 0.15);

  color: #c6ddd3;

  font-size: 15px;
}

/* foooter end */

/* Tablet */

@media (max-width: 900px) {
  .weather-search {
    grid-template-columns: 1fr;

    padding: 40px 20px;
  }

  .hero-description {
    margin-top: 30px;
  }

  .weather-form {
    margin-top: 30px;
  }

  .weather-section {
    grid-template-columns: 1fr;
  }
  .hourly-forecast {
    grid-template-columns: repeat(4, 1fr);
  }

  .hour:nth-child(4) {
    border-right: none;
  }

  .bottom-forecast {
    grid-template-columns: 1fr;
  }
  .footer-container {
    grid-template-columns: repeat(2, 1fr);

    gap: 35px;
  }
}


/* Mobile */

@media (max-width: 600px) {
  .hero-heading {
    flex-direction: column;

    text-align: center;
  }

  .hero-heading h1 {
    font-size: 42px;
  }

  .form-group {
    grid-template-columns: 1fr;

    gap: 8px;
  }

  .form-group label {
    text-align: left;

    font-size: 20px;
  }

  .form-group input {
    font-size: 16px;
  }

  .weather-card {
    padding: 20px;
  }

  .weather-content {
    grid-template-columns: 1fr;
  }

  .temperature-box {
    border-right: none;

    border-bottom: 1px solid #ddd;

    padding: 10px 0 25px;
  }

  .temperature-box h1 {
    font-size: 60px;
  }

  .weather-icon {
    font-size: 70px;
  }

  .detail {
    font-size: 15px;
  }

  .advisory-item {
    padding: 15px;
  }
  .hourly-forecast {
    display: flex;

    overflow-x: auto;
  }

  .hour {
    min-width: 120px;
  }

  .weekly-forecast {
    display: flex;

    overflow-x: auto;
  }

  .day {
    min-width: 120px;
  }

  .section-header h2 {
    font-size: 20px;
  }
  .footer {
    padding: 35px 25px 15px;
  }

  .footer-container {
    grid-template-columns: 1fr;

    gap: 30px;
  }

  .brand-logo h2 {
    font-size: 26px;
  }

  .contact-column p {
    font-size: 15px;
  }
}
